body {
    font-family: 'Anuphan', sans-serif;
    background-color: #0f172a;
}

.font-numeric {
    font-family: 'Space Grotesk', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.device-pc {
    display: block;
}

.device-mobile {
    display: none;
}

@media screen and (max-width: 1024px) {
    .device-pc {
        display: none !important;
    }

    .device-mobile {
        display: block !important;
    }
}